@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  /* header */
  header {
    @apply relative h-[90vh];
  }
  nav.navbar {
    @apply bg-black absolute top-0 left-0 right-0 h-16 flex justify-between px-11 items-center z-50 font-reguler text-white font-bold;
  }

  nav.navbar ul {
    @apply flex justify-center gap-x-12;
  }

  .user-icon img {
    width: 28px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(71deg)
      brightness(110%) contrast(100%);
  }

  .hero-section {
    @apply w-full h-full pt-12 md:pt-20  px-14 md:px-36 grid place-items-center relative bg-black;
  }

  .hero-section::before {
    @apply absolute inset-0 opacity-60;
    content: "";
    background-image: url(../assets/bg-hero.jpg);
    background-position: center;
    background-size: cover;
  }

  .hero-section > * {
    position: relative;
  }

  .titel-section {
    @apply flex justify-center flex-col;
  }

  .titel-section .title {
    @apply font-title text-white text-base font-semibold;
  }

  .button-section {
    @apply min-w-[300px] w-[38vw]  flex justify-center flex-wrap gap-4;
  }

  .button-section > .btn {
    @apply w-1/2 md:w-2/5 h-14 rounded-md  font-title font-bold text-lg;
  }

  .btn-secondary {
    @apply bg-white;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .container {
    @apply mx-auto;
  }

  /* main */
  main article .description .container {
    @apply grid place-content-center py-[12%];
  }

  main article .description p {
    @apply font-reguler font-medium text-3xl;
  }

  main article .game-list {
    @apply bg-gray-800 py-24;
  }

  main article .game-list .container {
    @apply flex flex-wrap gap-y-7 sm:gap-3 md:gap-8 justify-center;
  }

  main article .game-list .card {
    /* add before  */
    @apply w-[80%] sm:w-[40%] md:w-[30%] h-[200px] sm:h-[40vh] md:h-[400px] relative shadow-md;
  }

  main article .game-list .card .card-img {
    @apply w-full h-full bg-no-repeat bg-cover bg-center 
    before:opacity-0 hover:before:opacity-80 before:absolute before:inset-0 before:bg-gradient-to-l from-ea-theme-light to-ea-theme-dark opacity-80 before:transition-all;
  }

  main article .game-list .card h2 {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] drop-shadow-[2px_2px_2px_black];
  }

  main article .game-list button {
    @apply w-[200px] h-[70px] mt-16 rounded-md font-title font-bold text-lg bg-transparent hover:bg-white border-white border-2 text-white hover:text-gray-800 ease-in duration-200 transition-colors;
  }

  /* footer */
  footer {
    @apply bg-black pt-24 pb-20 text-white;
  }

  footer .nav-footer {
    @apply w-full flex flex-col mb-8;
  }

  footer .nav-footer .logo-nfs {
    @apply flex justify-center mb-5;
  }

  footer .nav-footer ul {
    @apply flex justify-center gap-x-12  font-reguler font-bold;
  }

  footer .nav-social-media {
    @apply w-full mb-5; /* gak kebaca di browser */
  }

  footer ul {
    @apply w-full  flex flex-wrap justify-center gap-x-3;
  }
  footer .circle {
    @apply w-14 h-14 border-spacing-2 rounded-full  border-white border-2 text-2xl grid place-items-center
     hover:bg-white hover:text-black  ease-in duration-200 transition-colors;
  }

  footer p {
    @apply mt-5;
  }
}
